* {
    margin: 0;
}
html {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f7f9;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 2em;
    padding: 8vh 3vh;
    border: 1px solid gray;
    border-radius: 20px;
    width: 100%;
}
